<div class="min-w-full">
  <nav class="text-black bg-gray-800">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-20">
        <div class="flex items-center">
          <div class="flex justify-items-center" (click)="startPage()">
            <img
              class="h-12 mb-0 text-pink-50 img-logo"
              src="../../assets/logo.png"
              alt="Workflow"
            />
            <h1 class="px-2 text-4xl font-bold text-white">Store Cemeye</h1>
          </div>
        </div>
        <div class="flex items-center">
          <div class="hidden md:block">
            <div class="flex items-center ml-4 md:ml-6">
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button
                    type="button"
                    class="flex items-center max-w-xs text-sm bg-gray-800 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                    id="user-menu-button"
                    aria-expanded="true"
                    aria-haspopup="true"
                    (click)="openOptionsUser()"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" [src]="userImg" alt="" />
                  </button>
                </div>

                <div
                  class="absolute right-0 z-50 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg w-50 ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                  *ngIf="showOptionsUser == true"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <div class="ml-3">
                    <div class="block px-4 text-sm font-medium">
                      {{ userName }}
                    </div>
                    <div class="block px-4 text-sm font-medium text-gray-400">
                      {{ userEmail }}
                    </div>
                  </div>
                  <a
                    routerLink="home/"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-3"
                  >
                    Volver a Roles
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="flex -mr-2 md:hidden">
            <!-- Mobile menu button -->
            <button
              type="button"
              class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-800 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
              (click)="openMenu()"
            >
              <span class="sr-only">Open main menu</span>
              <!--
                Heroicon name: outline/menu
  
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg
                class="block w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
              <!--
                Heroicon name: outline/x
  
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg
                class="hidden w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div
      class="md:hidden"
      id="mobile-menu"
      x-description="Mobile menu, show/hide base on menu state."
      x-shom="open"
      *ngIf="showMenu == true"
    >
      <div class="pt-4 pb-3 border-t border-gray-700">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            <img class="w-10 h-10 rounded-full" [src]="userImg" alt="" />
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white">
              {{ userName }}
            </div>
            <div class="text-sm font-medium leading-none text-gray-400">
              {{ userEmail }}
            </div>
          </div>
        </div>
        <div class="px-2 mt-3 space-y-1">
          <a
            class="block px-3 py-2 text-base font-medium text-gray-100 rounded-md hover:text-white hover:bg-gray-700"
            (click)="startPage()"
            >Volver a Roles</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
