<div class="px-0">
  <div class="row-auto bg-neutral-900 h-[28rem]">
    <div class="px-0">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<section>
  <main>
    <!-- component -->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <section class="text-gray-600 body-font">
      <div class="px-4 py-24 mx-auto container-products">
        <div class="flex flex-wrap">
          <div
            *ngFor="let product of products"
            class="w-full px-8 ml-auto mr-auto md:w-6/12 lg:w-4/12 xl:w-3/12 md:px-4 -mt-78 first-letter:"
          >
            <div
              class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white rounded-lg shadow-lg container_card"
            >
              <img
                [src]="product.imageUrl"
                class="w-full align-middle rounded-t-lg"
              />
              <blockquote class="relative px-8 py-5">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 block w-full h-95-px -top-94-px"
                >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="fill-current card_poligon"
                  ></polygon>
                </svg>
                <div class="blockquote_card">
                  <h2 class="text-xl font-bold text-center text-white">
                    {{ product.name }}
                  </h2>
                  <div class="line-grad"></div>
                  <h6 class="p-0 m-0 text-xs text-center text-white">
                    Reference code: {{ product.id }}
                  </h6>
                  <h6 class="text-white text-md">
                    {{ product.min }}
                  </h6>
                  <h4 class="text-white">Price: {{ product.max }} USD</h4>
                  <h6
                    class="font-light text-white text-md"
                    *ngIf="product.inventory < 2"
                  >
                    Available quantity: {{ product.inventory }} unit.
                  </h6>
                  <h6
                    class="font-light text-white text-md"
                    *ngIf="product.inventory > 1"
                  >
                    Available quantity: {{ product.inventory }} units.
                  </h6>
                  <div>
                    <span>Cantidad de Productos: </span>
                    <input
                      #identificator
                      type="number"
                      id="inputQuantity"
                      class="quantity-input"
                      name="tentacles"
                      [defaultValue]="1"
                      [min]="product.min"
                      [max]="product.max"
                    />
                  </div>
                  <div class="flex flex-col justify-center px-12">
                    <button
                      class="mt-2 capitalize button-shadow gradient-btn"
                      type="button"
                      [id]="product.id"
                      (click)="startButton($event, identificator.value)"
                    >
                      Buy
                    </button>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
